@charset "UTF-8";
/*!
* ress.css • v1.2.2
* MIT License
* github.com/filipelinhares/ress
*/
/* # =================================================================
# Global selectors
# ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */ }

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit; }

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */ }

* {
  margin: 0;
  padding: 0;
  /* Reset `padding` and `margin` of all elements */ }

/* # =================================================================
# General elements
# ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */ }

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

summary {
  display: list-item;
  /* Add the correct display in all browsers */ }

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */ }

[hidden],
template {
  display: none;
  /* Add the correct display in IE */ }

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */ }

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */ }

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */ }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */ }

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */ }

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */ }

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000; }

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* # =================================================================
# Forms
# ================================================================= */
input {
  border-radius: 0; }

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer; }

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default; }

[type='number'] {
  width: auto;
  /* Firefox 36+ */ }

[type='search'] {
  -webkit-appearance: textfield;
  /* Safari 8+ */ }

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */ }

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */ }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */ }

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */ }

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */ }

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: 0; }

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText; }

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */ }

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */ }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */ }

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */ }

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */ }

legend {
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */ }

::-webkit-file-upload-button {
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */ }

[type='search'] {
  outline-offset: -2px;
  /* Correct the outline style in Safari */
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */ }

/* # =================================================================
# Specify media element style
# ================================================================= */
img {
  display: inline-block;
  vertical-align: top;
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */ }

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */ }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */ }

/* Responsive media elements so that images and embeds scale with the browser width */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto; }

/* # =================================================================
# Accessibility
# ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~='screen'] {
    display: inherit; }
  [hidden~='screen']:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress; }

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer; }

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default; }

/* # =================================================================
# Selection
# ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none; }

html {
  width: 100%;
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
  background: #fff;
  box-sizing: border-box;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 1.25rem;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #fff;
  color: #3B3B3B;
  font-family: "BaxterSansRegular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  min-width: 20em; }

* {
  font-synthesis: inherit;
  font-smoothing: inherit; }
  *, *::before, *::after {
    box-sizing: inherit; }

address {
  font-style: inherit; }

figure {
  margin: 0; }

.touch {
  cursor: pointer; }

a,
a:active {
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-out; }
  a:hover,
  a:active:hover {
    opacity: 0.7; }

p {
  margin: 0 0 10px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit; }

ul {
  padding: 0; }

li {
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: inherit;
  font-weight: 400; }

::-moz-selection {
  background-color: #4365E2;
  color: #fff; }

::selection {
  background-color: #4365E2;
  color: #fff; }

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

em {
  font-family: "BaxterSansRegularItalic", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: 'BaxterSansRegular';
  src: url("../assets/fonts/baxtersans-regular/BaxterSans-Regular.woff2") format("woff2"), url("../assets/fonts/baxtersans-regular/BaxterSans-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansRegularItalic';
  src: url("../assets/fonts/baxtersans-regular/BaxterSans-RegularItalic.woff2") format("woff2"), url("../assets/fonts/baxtersans-regular/BaxterSans-RegularItalic.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansMedium';
  src: url("../assets/fonts/baxtersans-medium/BaxterSans-Medium.woff2") format("woff2"), url("../assets/fonts/baxtersans-medium/BaxterSans-Medium.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansMediumItalic';
  src: url("../assets/fonts/baxtersans-medium/BaxterSans-MediumItalic.woff2") format("woff2"), url("../assets/fonts/baxtersans-medium/BaxterSans-MediumItalic.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansSemibold';
  src: url("../assets/fonts/baxtersans-semibold/BaxterSans-Semibold.woff2") format("woff2"), url("../assets/fonts/baxtersans-semibold/BaxterSans-Semibold.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansSemiboldItalic';
  src: url("../assets/fonts/baxtersans-semibold/BaxterSans-SemiboldItalic.woff2") format("woff2"), url("../assets/fonts/baxtersans-semibold/BaxterSans-SemiboldItalic.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansBold';
  src: url("../assets/fonts/baxtersans-bold/BaxterSans-Bold.woff2") format("woff2"), url("../assets/fonts/baxtersans-bold/BaxterSans-Bold.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'BaxterSansBoldItalic';
  src: url("../assets/fonts/baxtersans-bold/BaxterSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/baxtersans-bold/BaxterSans-BoldItalic.woff") format("woff");
  font-weight: normal; }

h1 {
  font-family: "BaxterSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.9375rem;
  margin-bottom: 3rem; }

h2 {
  font-family: "BaxterSansMedium", Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.8125rem;
  margin-bottom: 2rem; }

h3 {
  font-family: "BaxterSansMedium", Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 1.5rem; }

h4 {
  font-family: "BaxterSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 1.5rem; }

p, ul li, ol li {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1rem; }
  @media (min-width: 48em) {
    p, ul li, ol li {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.5rem; } }

/* inject:imports */
.button {
  background: #E26143;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1.125rem 1.5rem; }
  .button--clicked {
    background: #F1C1B1; }

.image {
  display: block;
  height: auto;
  width: 100%; }

/* endinject */

/*# sourceMappingURL=main.css.map */
