/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 -0.5em 20px !important;
}
.sg-colors li {
  padding: 0.3em 0.5em;
  box-sizing: border-box;
  width: 50%;
}

@media (min-width: 768px) {
  .sg-colors li {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .sg-colors li {
    width: 12.5%;
  }
}

.sg-swatch {
  display: block;
  height: 6em;
  margin-bottom: 0.3em;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

.sg-body-text {
  font-size: rem(24);
  line-height: rem(32);
}

.sg-body-text--mobile {
  font-size: rem(20);
  line-height: rem(28);
}