html {
  width: 100%;
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
  background: $white;
  box-sizing: border-box;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  @include font-size($font-size-base);

  width: 100%;
  height: auto;
  margin: 0;
  background-color: $white;
  color: $color-text;
  font-family: $font-primary;
  font-weight: $reg;
  text-align: left;
  min-width: $min-width;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  font-synthesis: inherit;
  font-smoothing: inherit;
}

address {
  font-style: inherit;
}

figure {
  margin: 0;
}

.touch {
  cursor: pointer;
}

a,
a:active {
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-out;

  &:hover {
    opacity: 0.7;
  }
}

p {
  margin: 0 0 10px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: $reg;
  line-height: inherit;
}

ul {
  padding: 0;
}

li {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: inherit;
  font-weight: $reg;
}

::selection {
  background-color: $blue;
  color: $white;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

em {
  font-family: $font-italic;
}