@font-face {
  font-family: 'BaxterSansRegular';
  src: url('../assets/fonts/baxtersans-regular/BaxterSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-regular/BaxterSans-Regular.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansRegularItalic';
  src: url('../assets/fonts/baxtersans-regular/BaxterSans-RegularItalic.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-regular/BaxterSans-RegularItalic.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansMedium';
  src: url('../assets/fonts/baxtersans-medium/BaxterSans-Medium.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-medium/BaxterSans-Medium.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansMediumItalic';
  src: url('../assets/fonts/baxtersans-medium/BaxterSans-MediumItalic.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-medium/BaxterSans-MediumItalic.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansSemibold';
  src: url('../assets/fonts/baxtersans-semibold/BaxterSans-Semibold.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-semibold/BaxterSans-Semibold.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansSemiboldItalic';
  src: url('../assets/fonts/baxtersans-semibold/BaxterSans-SemiboldItalic.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-semibold/BaxterSans-SemiboldItalic.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansBold';
  src: url('../assets/fonts/baxtersans-bold/BaxterSans-Bold.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-bold/BaxterSans-Bold.woff') format('woff');;
  font-weight: normal;
}

@font-face {
  font-family: 'BaxterSansBoldItalic';
  src: url('../assets/fonts/baxtersans-bold/BaxterSans-BoldItalic.woff2') format('woff2'),
       url('../assets/fonts/baxtersans-bold/BaxterSans-BoldItalic.woff') format('woff');;
  font-weight: normal;
}