@import "breakpoint";

h1 {
  font-family: $font-semibold;
  font-size: rem(56);
  font-weight: $semibold;
  line-height: rem(63);
  margin-bottom: rem(48);
}

h2 {
  font-family: $font-medium;
  font-size: rem(36);
  font-weight: $medium;
  line-height: rem(45);
  margin-bottom: rem(32);
}

h3 {
  font-family: $font-medium;
  font-size: rem(28);
  font-weight: $medium;
  line-height: rem(40);
  margin-bottom: rem(24);
}

h4 {
  font-family: $font-semibold;
  font-size: rem(24);
  font-weight: $semibold;
  line-height: rem(36);
  margin-bottom: rem(24);
}

p, ul li, ol li {
  font-size: rem(20);
  line-height: rem(28);
  margin-bottom: rem(16);

  @include breakpoint($break-tablet) {
    font-size: rem(24);
    line-height: rem(32);
    margin-bottom: rem(24);
  }
}