$font-primary: 'BaxterSansRegular', Helvetica, Arial, sans-serif;
$font-italic: 'BaxterSansRegularItalic', Helvetica, Arial, sans-serif;
$font-medium: 'BaxterSansMedium', Helvetica, Arial, sans-serif;
$font-medium-italic: 'BaxterSansMediumItalic', Helvetica, Arial, sans-serif;
$font-semibold: 'BaxterSansSemibold', Helvetica, Arial, sans-serif;
$font-semibold-italic: 'BaxterSansSemiboldItalic', Helvetica, Arial, sans-serif;
$font-bold: 'BaxterSansBold', Helvetica, Arial, sans-serif;
$font-bold-italic: 'BaxterSansBoldItalic', Helvetica, Arial, sans-serif;

$font-size-base: 20;
$line-height-base: 30;

$light: 300;
$reg: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$min-width: 20em;
$break-mobile: 20em; // 320px
$break-tablet: 48em; // 768px
$break-desktop: 64em; // 1024px
$break-desktop-large: 90em; // 1440px

$grey: #3B3B3B;
$blue: #4365E2;
$light-green: #C4EBD0;
$green: #01D17C;
$light-blue: #D1E2F2;
$red: #F36365;
$light-red: #F1C1B1;
$light-yellow: #FFECD2;
$orange: #E26143;

$white: #fff;
$black: #000;
$color-text: $grey;

$transition: cubic-bezier(0.165, 0.84, 0.44, 1);