<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #3B3B3B"></span>
    <span class="sg-label">
      $grey
      <br/>
      #3B3B3B
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4365E2"></span>
    <span class="sg-label">
      $blue
      <br/>
      #4365E2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #C4EBD0"></span>
    <span class="sg-label">
      $light-green
      <br/>
      #C4EBD0
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #01D17C"></span>
    <span class="sg-label">
      $green
      <br/>
      #01D17C
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #D1E2F2"></span>
    <span class="sg-label">
      $color-block-4
      <br/>
      #D1E2F2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F36365"></span>
    <span class="sg-label">
      $red
      <br/>
      #F36365
    </span>
  </li>  
  <li>
    <span class="sg-swatch" style="background: #F1C1B1"></span>
    <span class="sg-label">
      $light-red
      <br/>
      #F1C1B1
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFECD2"></span>
    <span class="sg-label">
      $light-yellow
      <br/>
      #FFECD2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E26143"></span>
    <span class="sg-label">
      $orange
      <br/>
      #E26143
    </span>
  </li>
</ul>