@import "variables";
@import "functions";

.button {
  background: $orange;
  color: $white;
  font-size: rem(20);
  font-weight: $medium;
  line-height: rem(24);
  padding: rem(18) rem(24);

  &--clicked {
    background: $light-red;
  }
}